<div class="qv-product-images" style="opacity: 0"></div>
<div class="qv-content">
    <div class="holder">
        <h3 class="qv-product-title"></h3>
        <h4 class="qv-product-type"></h4>
        <h5 class="qv-product-price"></h5>
        <h5 class="qv-product-original-price"></h5>
        <hr />
        <div class="qv-add-to-cart">
            <div class="qv-product-options"></div>
            <div class="quantity">
                <span>Quantity</span>
                <input type="number" class="qv-quantity" value="1" min="1">
            </div>
            <input type="submit" class="qv-add-button" value="Add to Cart">
            <div class="qv-add-to-cart-response"></div>
        </div>
        <div class="qv-product-description"></div>
    </div>
    <a class="view-product" href=""><span>View Full Product Details</span></a>
</div>