
<div class="page-width">
  <div class="empty-page-content text-center">
    <div class="errorinfo">
      <div class="container">
        <div class="contentinfo col-sm-6">
          <h1>{{ 'general.404.title' | t }}</h1>
          <p>{{ 'general.404.subtext' | t }}</p>
          <p>
            <a href="/" class="">{{ 'general.404.link' | t }}</a>
          </p>
        </div>
        
        <div class="bear">
           <div class="zzz"></div>
         </div>
      
      </div>
  
      
    </div>
  </div>
</div>
